In [11]:
import pandas as pd

# Charger un fichier SAS (.sas7bdat)
df = pd.read_sas("../data/raw/credit.sas7bdat", format="sas7bdat", encoding="latin1")

# Afficher les premi√®res lignes
print(df.head())

   Cle  Comptes  Duree_credit Historique_credit Objet_credit  Montant_credit  \
0  1.0      1.0           6.0               A34          A43          1169.0
1  2.0      2.0          48.0               A32          A43          5951.0
2  3.0      4.0          12.0               A34          A46          2096.0
3  4.0      1.0          42.0               A32          A42          7882.0
4  5.0      1.0          24.0               A33          A40          4870.0

   Epargne  Anciennete_emploi  Taux_effort Situation_familiale  ...  \
0      0.0                5.0          4.0                 A93  ...
1      1.0                3.0          2.0                 A92  ...
2      1.0                4.0          2.0                 A93  ...
3      1.0                4.0          2.0                 A93  ...
4      1.0                3.0          3.0                 A93  ...

  Anciennete_domicile  Biens   Age  Autres_credits Statut_domicile Nb_credits  \
0                 4.0   A121  67.0            A143            A152        2.0
1                 2.0   A121  22.0            A143            A152        1.0
2                 3.0   A121  49.0            A143            A152        1.0
3                 4.0   A122  45.0            A143            A153        1.0
4                 4.0   A124  53.0            A143            A153        2.0

   Type_emploi Nb_pers_charge  Telephone Cible
0         A173            1.0       A192   1.0
1         A173            1.0       A191   2.0
2         A172            2.0       A191   1.0
3         A173            2.0       A191   1.0
4         A173            2.0       A191   2.0

[5 rows x 21 columns]

In [ ]:
#Recoder la variable Cible en 0 et 1 
df['Cible'] = df['Cible'].map({1: 0, 2: 1})

In [16]:
#Voir la nature des variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cle                  1000 non-null   float64
 1   Comptes              1000 non-null   float64
 2   Duree_credit         1000 non-null   float64
 3   Historique_credit    1000 non-null   object
 4   Objet_credit         1000 non-null   object
 5   Montant_credit       1000 non-null   float64
 6   Epargne              1000 non-null   float64
 7   Anciennete_emploi    1000 non-null   float64
 8   Taux_effort          1000 non-null   float64
 9   Situation_familiale  1000 non-null   object
 10  Garanties            1000 non-null   object
 11  Anciennete_domicile  1000 non-null   float64
 12  Biens                1000 non-null   object
 13  Age                  1000 non-null   float64
 14  Autres_credits       1000 non-null   object
 15  Statut_domicile      1000 non-null   object
 16  Nb_credits           1000 non-null   float64
 17  Type_emploi          1000 non-null   object
 18  Nb_pers_charge       1000 non-null   float64
 19  Telephone            1000 non-null   object
 20  Cible                1000 non-null   int64
dtypes: float64(11), int64(1), object(9)
memory usage: 164.2+ KB

In [ ]:
#Analyse des valeurs manquantes
df.isnull().sum() #pas de valeurs manquantes

Cle                    0
Comptes                0
Duree_credit           0
Historique_credit      0
Objet_credit           0
Montant_credit         0
Epargne                0
Anciennete_emploi      0
Taux_effort            0
Situation_familiale    0
Garanties              0
Anciennete_domicile    0
Biens                  0
Age                    0
Autres_credits         0
Statut_domicile        0
Nb_credits             0
Type_emploi            0
Nb_pers_charge         0
Telephone              0
Cible                  0
dtype: int64

In [17]:
#Analyse des outliers
import matplotlib.pyplot as plt
import seaborn as sns
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    plt.figure(figsize=(8, 4))
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot of {col}')
    plt.show()

ModuleNotFoundError: No module named 'matplotlib'